#a1{
    width: 1270px;
   margin-top: 30px;
   margin-left: 80px;
   height: 600px;
}
#a2{
    width: 1270px;
    height: 600px;
    /* margin: 30px; */
   
}
#a3{
    width: 1270px;
    height: 600px;
   /* margin: 30px; */
}