#box1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 10px;
    margin-top: 35px;
    row-gap: 20px;
  }
  #box2{
      cursor: pointer;
  }
  #buy{
      background-color: #d976fd;
      padding: 10px;
      margin-left: 30px;
      width: 200px;
  }
  